.btn {
    height: 60px;
    font-size: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.nav{
    display: flex;
    align-content: center;
}

.logo{
    display: flex;
    align-content: center;
    height: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.icons{
    height: 40px;
    width: 40px;
    align-items: center;
    margin-top: 6px;
    margin-right: 25px;
    margin-left: 25px;
}
div.container{
    align-items: center;
}
